@model List<Pizza>


<body style="background-color: #fff3cd">
<div class="text-center">


    <div class="container" style="min-height: 80vh">
        <h1 style="font-size: 10em">HOME PAGE</h1>
    </div>
</div>
</body>
